<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docx-Perfector | Billings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/billing-plan-styles.css') }}">
</head>
<body>

<div class="container">
    <div class="column1">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='photos/left-chevron-icon.png') }}" alt="Back" class="backBtn">
        </a>
        
        <h2>Billing Plans</h2>
       
    </div>

    <div class="column2">

        <article class="basic">
            
            <h3>Basic Account</h3>
            <p>Price: $04.99/month</p>
            <p>Features: </p>
            <p>- Upload file up to 10 MB + 50 times/per day</p>
            <p>- Correct English's grammar and typo in text document.</p>
            <!-- <button type="submit" class="basicBtn"><h4>Purchase</h4></button> -->

            <form method="POST" action="/subscribe">
                <input type="hidden" name="subscription_type" value="basic">
                <!-- <button type="submit">Subscribe for Pro Account</button> -->
                <button type="submit" class="basicBtn"><h4>Purchase</h4></button>
            </form>

        </article>

        <article class="pro">
            
            <h3>Pro Account</h3>
            <p>Price: $20.00/month</p>
            <p>Features: </p>
            <p>- Upload file up to 20 MB + 100 times/per day</p>
            <p>- Correct English's grammar and typo in text document.</p>

            <form method="POST" action="/subscribe">
                <input type="hidden" name="subscription_type" value="pro">
                <!-- <button type="submit">Subscribe for Pro Account</button> -->
                <button type="submit" class="proBtn"><h4>Purchase</h4></button>
            </form>

        </article>
<!-- 
        <form method="POST" action="/subscribe">
            <input type="hidden" name="subscription_type" value="pro">
            <button type="submit">Subscribe for Pro Account</button>
        </form>

        <form method="POST" action="/subscribe">
            <input type="hidden" name="subscription_type" value="basic">
            <button type="submit">Subscribe for Basic Account</button>
        </form> -->
        
    </div>

</div>

</body>
</html>